<ion-tabs>
  <ion-tab [root]="homeTab" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="uploadTab" tabTitle="Upload" tabIcon="camera"></ion-tab>
  <ion-tab [root]="profileTab" tabTitle="Profile" tabIcon="contact"></ion-tab>
</ion-tabs>
