<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Account</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form [formGroup]="signupForm" (ngSubmit)="register()" novalidate>
    <ion-row>
      <ion-item>
        <ion-label floating>First name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label floating>Last name</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label floating>Phone number</ion-label>
        <ion-input type="text" formControlName="phoneNumber"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <ion-item>
        <ion-label floating>Password Confirmation</ion-label>
        <ion-input type="password" formControlName="passwordConfirmation"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row>
      <button ion-button color="primary" type="submit" block>Sign up</button>
    </ion-row>
  </form>
</ion-content>
